<p>
  <b>Id:</b>
  <%=h @phone.id %>
</p>

<p>
  <b>Person:</b>
  <%=h @phone.person_id %>
</p>

<p>
  <b>Phone:</b>
  <%=h @phone.phone %>
</p>

<p>
  <b>Phone type:</b>
  <%=h @phone.phone_type %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
