<h1>Editing burden</h1>

<% form_for(@burden) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :mnistry_id %><br />
    <%= f.text_field :mnistry_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @burden %> |
<%= link_to 'Back', burdens_path %>
